/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:padding-box;
	font-family: 'Source Sans Pro', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*

	CODE

*/


div[id^="note-"]{
	display: inline-block;
	margin: 1%;
	padding: 1%;
	border: 1px solid black;
}

body{
	width:100%;
	height:100%;
	background:url(img/bg.png);
	
}

header{
	position:fixed;
	top:0;
	background-color: #1C1C1C;
	width:100%;
	height:120px;
	z-index: 1;
}

nav{
	width:70%;
	margin:auto;
	margin-top:22px;
}

button{
	width:76px;
	height:76px;
}

#buttonGroup{
	width:400px;
	float:right;
}

#mainContent{
	position:absolute;
	top:120px;
	width:80%;
	left:10%;

	margin:auto;

	color:#1C1C1C;
}

#takeNotes{
	width:240px;
	height:321px;
	margin:5px;
	background-color: #1C1C1C;
}

#takeNotes input, #takeNotes textarea{
	background-color: #1C1C1C;
	border:none;	
}

#takeNotes .title{
	background-color: #1C1C1C;
	border:none;
	border-bottom:2px solid #F9F9F9;
	margin:5px 0;
}

#takeNotes textarea{
	width:100%;
	height:180px;

	padding:10px;

	color:#F9F9F9;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
}

#takeNotes input[name=tags]{
	width:100%;

	padding:10px;

	border-top:2px solid #F9F9F9;
	border-bottom:2px solid #F9F9F9;
	color:#F9F9F9;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
}

#takeNotes button[type="submit"]{
	position:relative;
	top:0;
	width:100%;
	margin:0;
	padding:0;
	height:42px;
	text-transform: uppercase;
	color:#F9F9F9;
	font-size:16px;
	font-weight:700;
	color: #F9F9F9;
	border:none;
	background-color: #991914;
	transition:.25s;
	-webkit-transition:.25s;
	-moz-transition:.25s;
	-ms-transition:.25s;
	-o-transition:.25s;

}

#takeNotes button[type="submit"]:hover{
	position:relative;
	top:-279px;
	height:321px;
	font-size:28px;
	background-color: rgba(153,25,21,0.8);
	color:#F9F9F9;
	transition:.25s;
	-webkit-transition:.25s;
	-moz-transition:.25s;
	-ms-transition:.25s;
	-o-transition:.25s;
}

.note{
	width:260px;
	float:left;
	
	margin:5px;

	font-size:18px;
	background-color: #F9F9F9;
}

.film{
	border:2px solid #d91e18;
}

.title, h2{
	display:block;
	width:100%;
	height:40px;

	padding-bottom:6px;
	padding-left:20px;

	font-size:18px;
	line-height:40px;
	text-transform: uppercase;
	font-weight: 700;
	
	color: #F9F9F9;
}

.film h2{
	background-color:#d91e18;
}

.note p{
	padding:20px;
	line-height:21px;
}

.tools{
	width:80%;
	padding:0 10px 0 20px;
	float:left;
	font-size:14px;
	margin-bottom: 20px;
}

.film .hashtag{
	color:#d91e18;
	padding:2px;
}

.film .hashtag:hover{
	color:#F9F9F9;
	background-color:#d91e18;
	cursor:pointer;
}

.film .hashtag:before{
	content: "#";
}

i{
	font-size:12px;
	float:left;
	padding-left:20px;
	padding-bottom:5px;
	margin: -5px 0 5px 0;
	font-style:italic;
}

.toolsButton{
	height:24px;
	width:32px;
	margin:-15px 10px 0 0;
	float:right;
	background:url(img/filmTools.png);
	border:none;
	opacity:.6;
}

.toolsButton:hover{
	opacity: 1;
	cursor:pointer;
}
